@font-face{
    font-family: "ALS Gorizont Expanded Regular";
    src: url(./assets/fonts/gorizont/gorizont-font.eot.ttf);
    src: url(./assets/fonts/gorizont/gorizont-font.eot.ttf), url(./assets/fonts/gorizont/gorizont-font.eot.woff), url(./assets/fonts/gorizont/gorizont-font.eot.woff2);
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: "ALS Gorizont Expanded Regular";
}

body {
    background-color: #f7f8fc;
    color: #333;
}

button {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ececec;
}

.als-gorizont {
    font-family: "ALS Gorizont Expanded Regular";
}

.whitespace-nowrap {
    white-space: nowrap;
}